<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>


$(document).ready(function(){
$.ajax({
        type: "POST", 
        url: "../select",
         data:{
        id:12,
        }
    }).done(function(data) {
    var txt=''
    if(data.length > 0)
    {
    for(i=0;i<data.length;i++)
    {
    $("#txt").append('<tr id="row_'+data[i].id+'"><td>'+data[i].name+'</td><td>'+data[i].salary+'</td><td onclick="delete1('+data[i].id+');" id="'+data[i].id+'">Delete</td></tr>');
    }
    }
    else
    {
          $("#txt").append('<tr ><td colspan="3" style="text-align:center;"> No data available</td></tr>');
    }
    
})
 $('#add').click(function () {
   $.ajax({

        type:'POST',
        url:'../save',
        async: true,
        data:{
        pwd:5,
          mobile:4000,
          username:'Raju'
        },
        success:function(data){
           console.log(data)
        }
    });
    });
    
    $('#update').click(function () {
   $.ajax({

        type:'POST',
        url:'../update',
        async: true,
        data:{
        id:5,
          sal:5000,
          name:'Phani'
        },
        success:function(data){
         alert(data)
        }
    });
    });
    $('.delete').click(function () {
    id = $(this).id
   $.ajax({

        type:'POST',
        url:'../delete',
        async: true,
        data:{
        id:6,
          sal:5000,
          name:'Phani'
        },
        success:function(data){
          alert(data)
        }
    });
    });
    
    $('#select').click(function () {
   
    });
    
});
function delete1(id)
{
 
   $.ajax({

        type:'POST',
        url:'../delete',
        async: true,
        data:{
        id:id,
          sal:5000,
          name:'Phani'
        },
        success:function(data){
           $("#row_"+id).hide()
           alert(data)
        }
    });
}
</script>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<table>
<thead>
<tr>

<th>Name</th>
<th>Sal</th>
<th>Act</th>
</tr>
</thead>
<tbody id="txt">
</tbody>
</table>
<p id="add">Save</p>
</body>
</html>
